Repository CMPUT301F18T28/Personal-Condition-Tracker, pull requests merged in 2018-11, with the labels that each got.

#24 Signed-off-by: William Nichols <wcomhelp@users.noreply.github.com>
  doc/ConditionTrackerUIMockup.svg
Labels: enhancement

#28 Merge create_Classes_UserAccount into create_classes
  .idea/misc.xml
  app/build.gradle
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/UserAccountListTest.java
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/UserAccountTest.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/UserAccount.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/UserAccountList.java
Labels: Condition

#63 merge wcomhelp_part_4 into master
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/MainActivity.java
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/values/strings.xml
Labels: Profile, UserAccount

#62 Moving local functionality to master
  .idea/misc.xml
  .idea/vcs.xml
  app/build.gradle
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/CareProviderTest.java
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/PatientListTest.java
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/UserAccountListTest.java
  app/src/androidTest/java/ca/ualberta/cs/personal_condition_tracker/UserAccountTest.java
  app/src/debug/res/values/google_maps_api.xml
  app/src/include/jest-droid-2.0.1-SNAPSHOT.jar
  app/src/main/AndroidManifest.xml
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/AddPatientActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/CareProvider.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/Condition.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ConditionList.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/Listener.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/MainActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/MapsActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ModifyCommentActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ModifyConditionActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ModifyRecordActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ModifyUserAccountActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/Patient.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/PatientList.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/Record.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/RecordList.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/SelectBodyLocationActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/SelectGeoLocationActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/UserAccount.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/UserAccountList.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/UserAccountListController.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewCommentsActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewConditionListActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewConditionListAsCareProviderActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewMapOfRecordsActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewPatientListActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewRecordActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewRecordListActivity.java
  app/src/main/java/ca/ualberta/cs/personal_condition_tracker/ViewRecordListAsCareProviderActivity.java
  app/src/main/res/layout/activity_add_patient.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_maps.xml
  app/src/main/res/layout/activity_modify_comment.xml
  app/src/main/res/layout/activity_modify_condition.xml
  app/src/main/res/layout/activity_modify_record.xml
  app/src/main/res/layout/activity_modify_user_account.xml
  app/src/main/res/layout/activity_select_body_location.xml
  app/src/main/res/layout/activity_select_geo_location.xml
  app/src/main/res/layout/activity_view_comments.xml
  app/src/main/res/layout/activity_view_condition_list.xml
  app/src/main/res/layout/activity_view_condition_list_as_care_provider.xml
  app/src/main/res/layout/activity_view_map_of_records.xml
  app/src/main/res/layout/activity_view_patient_list.xml
  app/src/main/res/layout/activity_view_record.xml
  app/src/main/res/layout/activity_view_record_list.xml
  app/src/main/res/layout/activity_view_record_list_as_care_provider.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/release/res/values/google_maps_api.xml
Labels: Condition, Patient List, Record, UserAccount, enhancement
